PlayerSprite File SDL_Surface media/Sheets/PlayerSheet.png
#RatSprite File SDL_Surface media/Textures/RatSheet.png
TileSheet File SDL_Surface media/Sheets/TerrainSheet.png
StartScreen File SDL_Surface media/Textures/StartScreen.png
